## Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [3]:
l = [1,2,3,4,5,6,7,8,9]

summ = 0

for i in l :
    summ+=i
    
print(summ)

45

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [4]:
s = 'Hello World'

for i in s[::-1]:
    print(i)

d
l
r
o
W

o
l
l
e
H

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [6]:
n = 5
fac = 1
for i in range(1, n+1):
    fac*=i
    
fac

120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [8]:
n = 5
for i in range(1,11):
    print(f'{n} x {i} = {n*i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [10]:
l = [1,2,3,4,5,6,7,8,9]
o = 0
e = 0

for i in l:
    if i%2==0:
        e+=1
    else:
        o+=1

print(f'Even: {e}, Odd: {o}')

Even: 4, Odd: 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [11]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [13]:
s ='asdfg'

c = 0

for i in s:
    c+=1
c

5

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [14]:
l  = [1,2,3,4,5,6,7,8,9]
c = 0
lenn = 0
for i in l:
    c+=i
    lenn+=1
avg = c/lenn

avg

5.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [17]:
n = 9
l = []
for i in range(n):
    if i==1 or i==0:
        l.append(i)
    else:
        l.append(l[-1] + l[-2])
    print(l[-1])

0
1
1
2
3
5
8
13
21

## Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [4]:
l = [0,1,2,3,4,5,6,7,8,9,3,4,5,3]
p = []
for i in l:
    if i not in p:
        p.append(i)
    else:
        print('Duplicates: ',i)

Duplicates:  3
Duplicates:  4
Duplicates:  5
Duplicates:  3

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [22]:
a = 1
b = 9
for i in range(a,b):
    
    if i==1 or i==2:
        print(i)
    
    else:
        flag = True
        for j in range(2, i//2+1):
            if i%j==0:
                flag = False
    
        # print(flag)        
        if flag:
            print(i)

1
2
3
5
7

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [23]:
s = 'Hello World'
c = 0
v = ['a', 'e', 'i', 'o', 'u']

for i in s.lower():
    if i in v:
        c+=1
        
        
print(c)

3

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [27]:
l = [[1,2,3,4,5,9], [4,5,6,7,8]]

c=0
m=0

for i in l:
    for j in range(1, len(i)):
        c = i[0]
        if c < i[j]:
            c = i[j]
        
    m = max(m,c)   
        
m

9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [32]:
l = [1,6,2,3,4,5,6,6,6]
r = 6
for i in l:
    if r in l:

        l.remove(r)
        
l

[1, 2, 3, 4, 5]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [34]:
for n in range(1,6):
    for i in range(1,11):
        print(f'{n} x {i} = {n*i}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [36]:
f = [0,32,40,50, 66]

c =[]

for i in f:
    
    c.append(round((i - 32) * 5 / 9))
    
c

[-18, 0, 4, 10, 19]

18. Create a program to print the common elements from two lists using a `for` loop.

In [37]:
import random

l1 = [random.randrange(1, 30) for i in range(10) ]

l2 = [random.randrange(1, 30) for i in range(10) ]

comm = []

for i in l1:
    if i in l2:
        comm.append(i)
        
print('List 1: ',l1, '\nList 2: ',l2, '\nCommom elm: ', comm)

List 1:  [10, 11, 3, 14, 21, 8, 18, 14, 25, 5]
List 2:  [15, 6, 3, 22, 8, 8, 14, 12, 28, 6]
Commom elm:  [3, 14, 8, 14]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [43]:
for i in range(5):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [3]:
x=20
y=30

if x<y:
    small=x
else:
    small=y
    
for i in range(1, small):
    if((x % i == 0) and (y % i == 0)):
            gcd = i

            
print(gcd)

10

## Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [16]:
a=[12,13,100]
s=[sum([int(i) for i in str(x) ]) for x in a]
print(s)

[3, 4, 1]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [21]:
n = 7429

for i in range(1, n+1):
    if i==1:
        print(i)
    elif n%i==0:
        flag = True
        for j in range(2,i//2+1):
            if i%j==0:
                flag=False
        if flag:
            print(i)
#-----------------------------------            
[x for x in range(1, 20)
     if all(x % y for y in range(2, x//2+1))]

1
17
19
23

[1, 2, 3, 5, 7, 11, 13, 17, 19]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [23]:
x=[1,1,2,2,4,5,6,1,1,6,9]
unique=[x[i] for i in range(0,len(x)) if x[i] not in x[(i+1)::]]
print(unique)

[2, 4, 5, 1, 6, 9]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [28]:
st =100
end = 145
l= [ i  for i in range(st,end)
        if str(i) == str(i)[::-1]]
l

[101, 111, 121, 131, 141]

25. Write a program to flatten a nested list using list comprehension.

In [29]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [31]:
x=[1,2,3,4,5,6,7,8,9,10]
odd=0
even=0
odd+=sum([i for i in x if i%2!=0])
even+=sum([i for i in x if i%2==0])
print("sum of odd numbers", odd)
print("sum of even numbers", even)

sum of odd numbers 25
sum of even numbers 30

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [32]:
res = [ x**2 for x in range(1,11) if x%2!=0]
res

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [35]:
l1 = [1,2,3]
l2 = ["Rash", "Kil", "Varsha"]

res = {l1[i]:l2[i] for i in range(len(l1))}
res

{1: 'Rash', 2: 'Kil', 3: 'Varsha'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

s = 'Hello World'
v = ['a', 'e', 'i', 'o', 'u']

res = [x for x in list(s) if x in v]
res

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [44]:
s = ['erorp', '1', 'does', '5']

res = [x for x in s if x.isalpha() ]
res

['erorp', 'does']

## Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [3]:
N=30
prime= [x for x in range(2, N)
     if all(x % y for y in range(2, x))]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [8]:
n = int(input('Enter the value of n: '))
res = [(a,b,c) for a in range(1,n+1) for b in range(a,n+1) for c in range(b,n+1)
          if a**2 + b**2 == c**2]
res

Enter the value of n:  10

[(3, 4, 5), (6, 8, 10)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [10]:
l1 = [1,2]
l2 = [6,7]

res = [[i,j] for i in l1 for j in l2]

res

[[1, 6], [1, 7], [2, 6], [2, 7]]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [14]:
from collections import Counter

numbers = [x for x in range(1,10)]

mean = sum([x for x in numbers])/len(numbers)

sorted_numbers = sorted(numbers)
length = len(sorted_numbers)
mid = length // 2
if length % 2 == 0:
    median = (sorted_numbers[mid - 1] + sorted_numbers[mid]) / 2
else:
    median = sorted_numbers[mid]


# Calculate mode
counts = Counter(numbers)
max_count = max(counts.values())
mode = [number for number, count in counts.items() if count == max_count]


print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 5.0
Median: 5
Mode: [1, 2, 3, 4, 5, 6, 7, 8, 9]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [14]:
res = ( [d.setdefault(j, [sum(d[len(d)-1][max(i, 0):i + 2]) for i in range(-1, j)])
         for j, d in enumerate([{0: [1]}] * 5)])

res

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [2]:
import math

x=[sum([int(i) for i in str(math.factorial(n))])  for n in range(1,6)]
print(x)

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [26]:
s = 'Hello how are you doing'

res = max([x for x in s.split()], key=len) 
res

'Hello'

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [12]:
st = ['delhi','mumbai','hyderabad', 'cheinnai','ahemdabad', 'kolkata']
v = ['a', 'e', 'i','o','u']


filtered_words = [s for s in st if sum(1 for char in s if char.lower() in v) > 3]
filtered_words

['cheinnai', 'ahemdabad']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [7]:
res = [sum([int(j) for j in str(x)]) for x in range(1,1001)]
res

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension

In [9]:
start=100
end=200
prime= [x for x in range(start, end+1)
     if all(x % y for y in range(2, x)) and str(x)==str(x)[::-1]]
print(prime)

[101, 131, 151, 181, 191]