## TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [4]:
s = 'Hello World'
reversed_st = s[::-1]

reversed_st

'dlroW olleH'

2. Check if a string is a palindrome.

In [5]:
s = 'abcdcba'
rev_st = s[::-1] #reversing string using slicing to check palindrome

if s==rev_st:
    print('True, its a palindrome')
else:
    print('False, its not a palindrome')

True, its a palindrome

3. Convert a string to uppercase.

In [11]:
s = 'hello world'
print('Given String: ',s)

upper_case = s.upper()

print('Result: ', upper_case)

Given String:  hello world
Result:  HELLO WORLD

4. Convert a string to lowercase.

In [12]:
s = 'HELLO WORLD'
print('Given String: ',s)

lower_case = s.lower()

print('Result: ', lower_case)

Given String:  HELLO WORLD
Result:  hello world

5. Count the number of vowels in a string.

In [15]:
s = 'I live in Hyderabad'
s = s.lower() #as pyhthon is case sensitive so changing all char to lower case

print('Given String: ',s)

count = 0
#using loop to count vowels in sentense
for i in s:
    if i in ['a', 'e', 'i', 'o', 'u']:
        count=count+1

print('Number of vowels present in the given string are: ', count)

Given String:  i live in hyderabad
Number of vowels present in the given string are:  7

6. Count the number of consonants in a string.

In [16]:
s = 'I live in Hyderabad'
s = s.lower() #as pyhthon is case sensitive so changing all char to lower case

print('Given String: ',s)

count = 0
#using loop to count vowels in sentense
for i in s:
    if i not in ['a', 'e', 'i', 'o', 'u']:
        count=count+1

print('Number of vowels present in the given string are: ', count)

Given String:  i live in hyderabad
Number of vowels present in the given string are:  12

7. Remove all whitespaces from a string.

In [19]:
s = 'I live in Hyderabad'

print('Given: ',s)

s = s.replace(" ", "") #usimg replace funtion to replace space with no-space from the sentence
print('Result without spaces: ', s)

Given:  I live in Hyderabad
Result without spaces:  IliveinHyderabad

8. Find the length of a string without using the `len()` function.

In [20]:
s = 'Hello World'

len_st = 0

for i in s:
    len_st = len_st+1
    
print('Lenght of string is: ', len_st)

Lenght of string is:  11

9. Check if a string contains a specific word.

In [24]:
s = 'Hello World'

specWorld = "d"

if specWorld in s:
    print('Yes its present')
else:
    print('No its not')

Yes its present

10. Replace a word in a string with another word.

In [25]:
s = 'I live in Hyderabad'

print('Given: ',s)

s = s.replace("Hyderabad", "Mumbai") #usimg replace funtion to replace space with no-space from the sentence
print('Result with replacement: ', s)

Given:  I live in Hyderabad
Result with replacement:  I live in Mumbai

11. Count the occurrences of a word in a string.

In [32]:
s = 'I live in Hyderabad and in mumbai and in Aurangabad'

check_word = 'in'
count = 0
for i in s.split():
    if check_word == i:
        count +=1
        
print(count)

3

12. Find the first occurrence of a word in a string.

In [17]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'
word_check = 'in'

print('Index: ',s.index('in'))

l = s.split()

for i in range(0,len(l)):
    if l[i]==word_check:
        print(f'First occurence of the word is at {i} position in the sentence')
        break

Index:  7
First occurence of the word is at 2 position in the sentence

13. Find the last occurrence of a word in a string.

In [18]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'
word_check = 'in'

print('Index: ',s.rindex('in'))

l = s.split()

p= []

for i in range(0,len(l)):
    if l[i]==word_check:
        p.append(i)   
        
print(f'Last occurence of the word is at {p[-1]} position in the sentence')

Index:  38
Last occurence of the word is at 8 position in the sentence

14. Split a string into a list of words.

In [20]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

l = s.split()

print(l)

['I', 'live', 'in', 'Hyderabad', 'and', 'in', 'Mumbai', 'and', 'in', 'Aurangabad']

15. Join a list of words into a string.

In [22]:
l = ['I', 'live', 'in', 'Hyderabad', 'and', 'in', 'Mumbai', 'and', 'in', 'Aurangabad']

st = ' '.join(l)

print(st)

I live in Hyderabad and in Mumbai and in Aurangabad

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [24]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

rp = s.replace(" ", '_')

rp

'I_live_in_Hyderabad_and_in_Mumbai_and_in_Aurangabad'

17. Check if a string starts with a specific word or phrase.

In [27]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

print(s.lower().startswith('i live in'))


print(s.lower().startswith('in mumbai'))

True
False

18. Check if a string ends with a specific word or phrase.

In [32]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

print(s.lower().endswith('in aurangabad'))


print(s.lower().endswith('in mumbai'))

True
False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

s = 'hello world'

print(s.title())

20. Find the longest word in a string.

In [46]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

l = s.split()
l = sorted(l, key = len)

l[-1]

'Aurangabad'

21. Find the shortest word in a string.

In [47]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

l = s.split()
l = sorted(l, key = len)

l[0]

'I'

22. Reverse the order of words in a string.

In [48]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'

l = s.split()

s = " ".join(l[::-1])

s

'Aurangabad in and Mumbai in and Hyderabad in live I'

23. Check if a string is alphanumeric.

In [50]:
s = "Prakhar_Sinha"
m = 'Pra1234'

print(s.isalnum())
print(m.isalnum())

False
True

24. Extract all digits from a string.

In [52]:
s = 'I lived in hyd for 5 yrs and in mumbai for 6 and in aurangabad for 3 yrs'

l = s.split()
num = []
for i in l:
    if i.isdigit():
        num.append(int(i))
        
print(num)

[5, 6, 3]

25. Extract all alphabets from a string.

In [54]:
s = 'I lived in hyd for 5 yrs and in mumbai for 6 and in aurangabad for 3 yrs'

l = s.split()
alph = []
for i in l:
    if not i.isdigit():
        alph.append(i)
        
print(alph)

['I', 'lived', 'in', 'hyd', 'for', 'yrs', 'and', 'in', 'mumbai', 'for', 'and', 'in', 'aurangabad', 'for', 'yrs']

26. Count the number of uppercase letters in a string.

In [56]:
s = 'IamAGoodBoy'

x = []

for i in s:
    if i.isupper():
        x.append(i)
        
print(len(x))

4

27. Count the number of lowercase letters in a string.

In [57]:
s = 'IamAGoodBoy'

x = []

for i in s:
    if i.islower():
        x.append(i)
        
print(len(x))

7

28. Swap the case of each character in a string.

In [58]:
s = 'IamAGoodBoy'

print(s.swapcase())

iAMagOODbOY

29. Remove a specific word from a string.

In [60]:
s = 'I lived in hyd for 5 yrs and in mumbai for 6 and in aurangabad for 3 yrs'

s = s.replace('hyd', '') 

s

'I lived in  for 5 yrs and in mumbai for 6 and in aurangabad for 3 yrs'

30. Check if a string is a valid email address.

In [73]:
import re


s = 'pjs@gmail.com'

pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

if re.match(pat,s):
    print("Valid Email")
else:
    print("Invalid Email")

# or the other way    

if '@' in s and s.endswith('.com'):
    print("Valid Email")
else:
    print("Invalid Email")

Valid Email
Valid Email

31. Extract the username from an email address string.

In [63]:
s = 'pjs@gmail.com'

l = s.split('@')

print('User Name: ', l[0])

User Name:  pjs

32. Extract the domain name from an email address string.

In [65]:
s = 'pjs@gmail.com'

l = s.split('@')

print('Domain Name: ', l[1])

Domain Name:  gmail.com

33. Replace multiple spaces in a string with a single space.

In [68]:
s = 'I live     in       Hyderabad            and   in      Mumbai     and     in     Aurangabad'
print(s)

s =  ' '.join(s.split())

print(s)

I live     in       Hyderabad            and   in      Mumbai     and     in     Aurangabad
I live in Hyderabad and in Mumbai and in Aurangabad

34. Check if a string is a valid URL.

In [74]:
s = 'https://www.xyz.com'

if s.startswith('https://') and s.endswith('.com'):
    print('Valid Url')
    
else:
    print('Not Valid Url')

Valid Url

35. Extract the protocol (http or https) from a URL string.

In [76]:
s = 'https://www.xyz.com'

if 'http' or 'https' in s:
    s1 = s.split(':')
    print(s1[0])
else:
    print('Not a Valid Url')

https

36. Find the frequency of each character in a string.

In [77]:
string= 'prakhar jyot sinha'
string=(string.lower()).replace(' ','')
string_list=list(set(string))
frequency={}
for i in string_list:
    frequency[i]=string.count(i)
print(frequency)

{'r': 2, 'i': 1, 'n': 1, 'p': 1, 'y': 1, 't': 1, 'a': 3, 'o': 1, 'j': 1, 'k': 1, 'h': 2, 's': 1}

37. Remove all punctuation from a string.

In [83]:
punc = ['.', '!', ',']

s = 'Wow! what a wnderfull day it was, we should do it again.'

for i in s:
    if i in punc:
        s = s.replace(i,"")
print(s)

Wow what a wnderfull day it was we should do it again

38. Check if a string contains only digits.

In [4]:
s = '123654'
m = "09poi8"
print(s.isdigit())
print(m.isdigit())

True
False

39. Check if a string contains only alphabets.

In [5]:
s = 'pjs'
m = "09poi8"
print(s.isalpha())
print(m.isalpha())

True
False

40. Convert a string to a list of characters.

In [12]:
s = "Hello World"

s1 = list(s.replace(" ",''))
s1

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

41. Check if two strings are anagrams.

In [13]:
s1 = "wolf"
s2 = "flow"

if sorted(s1.lower()) == sorted(s2.lower()):
    print('True')
else:
    print('False')

True

42. Encode a string using a Caesar cipher.

In [23]:
string = 'PrakharSinha'
step = 4
result = ''

for i in range(len(string)):
    
    c = string[i]
    
    if c.isupper():
        result += chr((ord(c)+step - 64) % 26 + 65)
    else:
        result += chr((ord(c)+step - 96) % 26 + 97)

print('Given Streing: ', string)
print('Step: ', step)
print('Encrypted text: ', result)

Given Streing:  PrakharSinha
Step:  4
Encrypted text:  UwfpmfwXnsmf

43. Decode a Caesar cipher encoded string.

In [26]:
string = 'UwfpmfwXnsmf'
step = 4
result = ''

for i in range(len(string)):
    
    c = string[i]
    
    if c.isupper():
        result += chr((ord(c)-step + 64) % 26 + 65)
    else:
        result += chr((ord(c)-step + 32) % 26 + 97)

print('Given Streing: ', string)
print('Step: ', step)
print('Encrypted text: ', result)

Given Streing:  UwfpmfwXnsmf
Step:  4
Encrypted text:  PrakharSinha

44. Find the most frequent word in a string.

In [28]:
string= 'I live in Hyderabad and in Mumbai and in Aurangabad'
string=(string.lower()).split()
string_list=list(set(string))
frequency={}
for i in string_list:
    frequency[i]=string.count(i)
print(frequency)

{'in': 3, 'hyderabad': 1, 'live': 1, 'mumbai': 1, 'aurangabad': 1, 'i': 1, 'and': 2}

45. Find all unique words in a string.

In [34]:
string= 'I live in Hyderabad and in Mumbai and in Aurangabad'
string=(string.lower()).split()
string_list=list(set(string))
frequency={}
for i in string_list:
    frequency[i]=string.count(i)

for i in frequency:
    if (frequency[i] == 1):
        print(i)

hyderabad
live
mumbai
aurangabad
i

46. Count the number of syllables in a string.

In [37]:
w = 'Taarak Mehta'
w = w.lower()
c = 0
v = "aeiouy"

if w[0] in v:
    c += 1
for i in range(1, len(w)):
    if w[i] in v and w[i - 1] not in v:
        c += 1
if w.endswith("e"):
    c -= 1
if c == 0:
    c += 1
    

print(c)

4

47. Check if a string contains any special characters.

In [42]:
s  = 'prakharjai@gmail.com'

sc = ['"', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[',  ']', '^', '_', '`', '{', '|', '}', '~', '"']
flag = True
for i in s:
    if i in sc:
        print('True, string contains special characters')
        flag = False
        break
    
if flag:
    print('False, string does not contain special characters')

True, string contains special characters

48. Remove the nth word from a string.

In [50]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'
index_to_remove=3
slist = s.split()

rm_wd = slist.pop(index_to_remove)
s1 = " ".join(slist)
print(s1)
print('Removed word: ',rm_wd)

I live in and in Mumbai and in Aurangabad
Removed word:  Hyderabad

49. Insert a word at the nth position in a string.

In [54]:
s = 'I live in Hyderabad and in Mumbai and in Aurangabad'
word_to_add = 'the'
index_to_add=3
slist = s.split()

slist.insert(index_to_add, word_to_add)
s1 = " ".join(slist)
print(s1)

I live in the Hyderabad and in Mumbai and in Aurangabad

50. Convert a CSV string to a list of lists.

In [56]:
s = "[[['delivery_time', 'waiting_time'], ['short']], [['delivery'], ['fast']], [['delivery'], ['really'], ['great']]]"

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [58]:
x = [i for i in range(1,11)]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [62]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count = 0
for i in l:
    count +=1

print('Length: ',count)

Length:  10

3. Append an element to the end of a list.

In [63]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.append(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [64]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num = 4.5
index = 4
l.insert(index,num)

l

[1, 2, 3, 4, 4.5, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [67]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l.remove(4)
l

[1, 2, 3, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [70]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 2
l.pop(index)
l

[1, 2, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [71]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

element = 6

if element in l:
    print('Exists')
else:
    print('Does not exits')

Exists

8. Find the index of the first occurrence of an element in a list.

In [73]:
l = [2,3,2,1,5,6,4,6,6,1,1]

num = 1
for i in range(len(l)):
    if l[i]==num:
        print(f'First occurence of {num} is at {i} index in the list')
        break

First occurence of 1 is at 3 index in the list

9. Count the occurrences of an element in a list.

In [74]:
l = [2,3,2,1,5,6,4,6,6,1,1]

num = 1
count = 0
for i in range(len(l)):
    if l[i]==num:
        count+=1
        
print(f'Number occurence of {num} is {count} in the list')

Number occurence of 1 is 3 in the list

10. Reverse the order of elements in a list.

In [82]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.reverse()
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [83]:
l = [2,3,2,1,5,6,4,6,6,1,1]
l.sort()
print(l)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 6, 6]

12. Sort a list in descending order.

In [85]:
l = [2,3,2,15,6,4,6,6,1,1]
l.sort(reverse=True)
print(l)

[15, 6, 6, 6, 4, 3, 2, 2, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [86]:
l  = [x for x in range(1,21) if x%2==0 ]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [87]:
l  = [x for x in range(1,21) if not x%2==0 ]
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [88]:
l = [2,3,2,15,6,4,6,6,1,1]

summ = 0
for i in l:
    summ +=i

summ

46

16. Find the maximum value in a list.

In [89]:
l = [2,3,2,15,6,4,6,6,1,1]
m = max(l)
m

15

17. Find the minimum value in a list.

In [90]:
l = [2,3,2,15,6,4,6,6,1,1]
m = min(l)
m

1

18. Create a list of squares of numbers from 1 to 10.

In [92]:
l = [x**2 for x in range(1,11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [93]:
import random

l = [random.randrange(1, 50, 1) for i in range(7) ]

l

[49, 35, 7, 38, 7, 44, 12]

20. Remove duplicates from a list.

In [94]:
l = [2,3,2,15,6,4,6,6,1,1]

l = list(set(l))

l

[1, 2, 3, 4, 6, 15]

21. Find the common elements between two lists.

In [4]:
import random

l1 = [random.randrange(1, 30) for i in range(10) ]

l2 = [random.randrange(1, 30) for i in range(10) ]

comm = []

for i in l1:
    if i in l2:
        comm.append(i)
        
print('List 1: ',l1, '\nList 2: ',l2, '\nCommom elm: ', comm)

List 1:  [29, 24, 23, 15, 13, 9, 17, 13, 6, 27]
List 2:  [8, 27, 24, 12, 19, 10, 1, 25, 15, 23]
Commom elm:  [24, 23, 15, 27]

22. Find the difference between two lists.

In [2]:
import random

l1 = [random.randrange(1, 30) for i in range(10) ]

l2 = [random.randrange(1, 30) for i in range(10) ]

uncm = []

for i in l1:
    if i not in l2:
        uncm.append(i)

for i in l2:
    if i not in l1:
        uncm.append(i)
        
print('List 1: ',l1, '\nList 2: ',l2, '\nUn Commom elm: ', uncm)

List 1:  [25, 13, 28, 20, 13, 10, 14, 27, 10, 3]
List 2:  [3, 22, 4, 3, 16, 14, 22, 3, 29, 27]
Un Commom elm:  [25, 13, 28, 20, 13, 10, 10, 22, 4, 16, 22, 29]

23. Merge two lists.

In [9]:
import random

l1 = [random.randrange(1, 30) for i in range(10) ]

l2 = [random.randrange(1, 30) for i in range(10) ]

print('List 1: ',l1, '\nList 2: ',l2)

l1.extend(l2)
print('Merged list: ', l1)

List 1:  [23, 25, 13, 29, 13, 24, 28, 15, 19, 10]
List 2:  [8, 7, 12, 12, 26, 22, 27, 12, 1, 10]
Merged list:  [23, 25, 13, 29, 13, 24, 28, 15, 19, 10, 8, 7, 12, 12, 26, 22, 27, 12, 1, 10]

24. Multiply all elements in a list by 2.

In [12]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l2 = [ x*2 for x in l]

l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [13]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l2 = [x for x in l if x%2==0]

l2

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [15]:
l = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

l2 = [int(i) for i in l]

l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

27. Convert a list of integers to a list of strings.

In [16]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l2 = [str(x) for x in l]

l2

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

In [21]:
l = [1, 2, [3, 4, [5, 6] ], 7, 8, [9, [10] ] ]
flat_list = []
def get_flat_list(l):
    for i in l:
        if type(i) ==list:
            get_flat_list(i)
        else:
            flat_list.append(i)
    return flat_list 
    

print('Flat list: ', get_flat_list(l))

Flat list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.

In [27]:
l = []

for i in range(0, 10):
    if len(l)<2:
        l.append(i)
    else:
        l.append(l[i-2] + l[i-1])
    
l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [30]:
import random

l = [random.randrange(1, 30) for i in range(10)]
print(l)
flag = True
for i in range(len(l)-1):
    if (l[i]>l[i+1]):
        flag = False
        
if flag:
    print('Sorted')
else:
    print('Not Sorted')

[27, 11, 8, 22, 12, 2, 28, 18, 19, 24]
Not Sorted

31. Rotate a list to the left by `n` positions.

In [63]:
l = [1, 4, 6, 7, 2]
n = 3
l2 = l[n:] +l[:n] 
print(f"Rotaing list to left nth position,\nHere n value is {n}\nResult: ", l2)

Rotaing list to left nth position,
Here n value is 3
Result:  [7, 2, 1, 4, 6]

32. Rotate a list to the right by `n` positions.

In [65]:
l = [1, 4, 6, 7, 2]
n = 3
l2 = l[-n:] +l[:-n] 
print(f"Rotaing list to right nth position,\nHere n value is {n}\nResult: ", l2)

Rotaing list to right nth position,
Here n value is 3
Result:  [6, 7, 2, 1, 4]

33. Create a list of prime numbers up to 50.

In [18]:
l=[]

for i in range(1, 51):
    flag=True
    if i==1:
        l.append(i)
        flag=False
    
    else:
        for x in range(2, i//2+1):
            if i%x == 0:
                flag=False
                break
    
    if flag:
        l.append(i)

        
print(l)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [35]:
# l = [x for x in range(20)]
# print(l)

# while len(l)>3:

l = [1, 2, 3, 4, 5, 6, 7, 8,9]
n=3
x=[]
start=0
for i in range(1,n+1):
    x.append(l[start:(n*i)])
    start=start+n
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [23]:
l = [6,5,4,7,9,4,3,8,2,23,43,21,12,67,89,43,45]

l.sort()
print(l)
print('Second last number from the list: ',l[-2])

[2, 3, 4, 4, 5, 6, 7, 8, 9, 12, 21, 23, 43, 43, 45, 67, 89]
Second last number from the list:  67

36. Replace every element in a list with its square.

In [25]:
l = [i for i in range(2,12)]
print(l)

l = [x**2 for x in l]

print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [29]:
l = [x for x in range(11,21)]
print(l)

dic = {}

for i in range(len(l)):
    dic[l[i]] = i
    
print(dic)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
{11: 0, 12: 1, 13: 2, 14: 3, 15: 4, 16: 5, 17: 6, 18: 7, 19: 8, 20: 9}

38. Shuffle the elements of a list randomly.

In [31]:
import random

l = [x for x in range(11,21)]
print(l)

random.shuffle(l)

print('shufled: ',l)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
shufled:  [20, 19, 13, 17, 14, 18, 16, 11, 15, 12]

39. Create a list of the first 10 factorial numbers.

In [37]:
l=[x for x in range(10)]
print(l)

l2 =[]

for n in l:
    if n ==0 or n==1:
        l2.append(1)
    else:
        i = 1
        f = 1
        while i<=n:
            f *=i
            i +=1
            
        l2.append(f)
        
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [53]:
import random

x=[random.randint(1,30) for x in range(10)]
y=[random.randint(1,30) for x in range(10)]


print(x,y)
for i in x:
    if i in y:
        print('Yes, they have common atleast one elemet ', i)
        break
else:
    print('Nothing common')

[5, 25, 5, 20, 14, 15, 11, 23, 7, 27] [18, 10, 7, 14, 8, 25, 19, 26, 3, 24]
Yes, they have common atleast one elemet  25

41. Remove all elements from a list.

In [55]:
x = [random.randint(1,30) for x in range(10)]
print(x)
x.clear()
print(x)

[12, 13, 10, 26, 15, 30, 16, 13, 2, 24]
[]

42. Replace negative numbers in a list with 0.

In [58]:
l = [random.randint(-10,10) for x in range(10)]

print(l)
for i in range(len(l)):
    if l[i]<0:
        l[i] = 0
l

[1, 7, -6, 9, 6, 9, 7, -1, 7, -5]

[1, 7, 0, 9, 6, 9, 7, 0, 7, 0]

43. Convert a string into a list of words.

In [59]:
s = 'Hello World how are you'

l= s.split()

l

['Hello', 'World', 'how', 'are', 'you']

44. Convert a list of words into a string.

In [60]:
l = ['Hello', 'World', 'how', 'are', 'you']

s = ' '.join(l)

s

'Hello World how are you'

45. Create a list of the first `n` powers of 2.

In [64]:
n = 10

l = list()
for i in range(n):
    l.append(2**i)
    
l

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [72]:
l = ['apple', 'banana', 'watermelon', 'orange']

l.sort(key=len)

print(l[-1])

####################

print(max(l,key=len))

watermelon
watermelon

47. Find the shortest string in a list of strings.

In [73]:
l = ['apple', 'banana', 'watermelon', 'orange']

l.sort(key=len)

print(l[0])

####################

print(min(l,key=len))

apple
apple

48. Create a list of the first `n` triangular numbers.

In [74]:
n =5
l =[]
for i in range(1, n + 1):
    l.append( i*(i+1)//2)
    
l

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [76]:
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]
flag=0
if all(x in test_list for x in sub_list):
    flag=1
if flag:
    print("Yes list contains another list as a subsequence")
else:
    print("No list does not contain another list as a subsequence")

Yes list contains another list as a subsequence

50. Swap two elements in a list by their indices.

In [78]:
l = [1,2]
print(l)

l[1],l[0] = l[0], l[1]

print(l)

##################
test_list = [9, 4, 5, 8, 10]
print(test_list)
indice1=1
indice2=4
temp1=test_list[indice1]
temp2=test_list[indice2]
test_list[indice1]=temp2
test_list[indice2]=temp1
test_list

[1, 2]
[2, 1]
[9, 4, 5, 8, 10]

[9, 10, 5, 8, 4]

## Tuple Based Practice Problem :

In [80]:
t = tuple(x for x in range(1,6))
t

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [81]:
t = (1, 2, 3, 4, 5)
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [82]:
t = (1, 2, 3, 4, 5)
lenn= 0
for i in t:
    lenn+=1
    
c

5

4. Count the occurrences of an element in a tuple.

In [83]:
t = (1, 2, 3, 4, 5, 3, 4, 7)
c = 0 
ele = 3
for i in t:
    if i==ele:
        c+=1
        
c

2

5. Find the index of the first occurrence of an element in a tuple.

In [84]:
t = (1, 2, 3, 4, 5, 3, 4, 7)

ele = 3
for i in range(len(t)):
    if t[i]==ele:
        print(i)
        break

2

6. Check if an element exists in a tuple.

In [89]:
t = (1, 2, 3, 4, 5, 3, 4, 7)

elem = 7

if elem in t:
    print('yes')
else:
    print('no')

yes

7. Convert a tuple to a list.

In [90]:
t = (1, 2, 3, 4, 5, 3, 4, 7)
l = list(t)
print(type(t), t)
print(type(l), l)

<class 'tuple'> (1, 2, 3, 4, 5, 3, 4, 7)
<class 'list'> [1, 2, 3, 4, 5, 3, 4, 7]

8. Convert a list to a tuple.

In [91]:
l = [1, 2, 3, 4, 5, 3, 4, 7]
t = tuple(t)
print(type(t), t)
print(type(l), l)

<class 'tuple'> (1, 2, 3, 4, 5, 3, 4, 7)
<class 'list'> [1, 2, 3, 4, 5, 3, 4, 7]

9. Unpack the elements of a tuple into variables.

In [92]:
t = (1, 2, 3, 4)
a,b,c,d = t

print(a)
print(b)
print(c)
print(d)

1
2
3
4

10. Create a tuple of even numbers from 1 to 10.

In [95]:
t = tuple(x for x in range(10) if x%2==0)
print(t)

(0, 2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [96]:
t = tuple(x for x in range(10) if x%2!=0)
print(t)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [97]:
t = (1, 2, 3, 4)
t1 = (5, 6, 7, 8)
t2 = t+t1
t2

(1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [98]:
t = (1, 2, 3, 4)
t1 = t*3
t1

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [99]:
t =(1, 2, 3, 4)

if len(t)>0:
    print('not empty')
else:
    print('empty')

not empty

15. Create a nested tuple.

In [100]:
t  = (1,2,3, (4,5,6), 7, 8, (9,))
t

(1, 2, 3, (4, 5, 6), 7, 8, (9,))

16. Access the first element of a nested tuple.

In [101]:
t  = (1,2,3, (4,5,6), 7, 8, (9,))

t[3][0]

4

17. Create a tuple with a single element.

In [102]:
t =(1,)
type(t)

tuple

18. Compare two tuples.

In [103]:
t = (1, 2, 3, 4)
t1 = (5, 6, 7, 8)

t>t2

False

19. Delete a tuple.

In [107]:
t = (1, 2, 3, 4)
del(t)

20. Slice a tuple.

In [111]:
t = (1, 2, 3, 4, 5, 6, 7)
print(t[2:5])

(3, 4, 5)

21. Find the maximum value in a tuple.

In [112]:
t = (1, 2, 3, 4, 5, 6, 7)
max(t)

7

22. Find the minimum value in a tuple.

In [113]:
t = (1, 2, 3, 4, 5, 6, 7)
min(t)

1

23. Convert a string to a tuple of characters.

In [114]:
s = "hello World"
t = tuple(s)
t

('h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

24. Convert a tuple of characters to a string.

In [117]:
t = ('h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
s = "".join(t)
s

'hello World'

25. Create a tuple from multiple data types.

In [120]:
t = (1, 1.5, 'hi', [1,2,3])
t

(1, 1.5, 'hi', [1, 2, 3])

26. Check if two tuples are identical.

In [122]:
t = (1,2,3,4)
t1= (1,2,3,4)

print(t==t1)

True

27. Sort the elements of a tuple.

In [126]:
t = (3,5,22,5,2,7,5)

t1= tuple(sorted(t))

print(t1)

(2, 3, 5, 5, 5, 7, 22)

28. Convert a tuple of integers to a tuple of strings.

In [129]:
t = (1,2,3,4,5)
t1 = tuple(str(i) for i in t)
t1

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [130]:
t = ('1', '2', '3', '4', '5')
t1 = tuple(int(i) for i in t)
t1

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [131]:
t = (1,2,3,4,5)
t1 = (6,7,8)
t2 = t+t1
t2

(1, 2, 3, 4, 5, 6, 7, 8)

31. Flatten a nested tuple.

In [138]:
l = (1, 2, (3, 4, (5, 6) ), 7, 8, (9, (10) ) )
flat = []
def get_flat(l):
    for i in l:
        if type(i) ==tuple:
            get_flat(i)
        else:
            flat.append(i)
    return tuple(flat) 
    

print('Flat tuple: ', get_flat(l))

Flat tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

32. Create a tuple of the first 5 prime numbers.

In [140]:
l=[]

for i in range(1, 6):
    flag=True
    if i==1:
        l.append(i)
        flag=False
    
    else:
        for x in range(2, i//2+1):
            if i%x == 0:
                flag=False
                break
    
    if flag:
        l.append(i)

        
print(tuple(l))

(1, 2, 3, 5)

33. Check if a tuple is a palindrome.

In [142]:
t = (1,2,3,2,1)
t1 = (1,2,3,4,5,6)
print(t==t[::-1]) # palendrome
print(t1==t1[::-1])

True
False

34. Create a tuple of squares of numbers from 1 to 5.

In [145]:
t = tuple(x*x for x in range(1,6))
t

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [15]:
t = tuple(x for x in range(10))
print(t)
l = []
for i in t:
    if i%2!=0:
        l.append(i)
l = tuple(l)
print(l)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [13]:
t = (1,2,3,4)

l = list()

for i in t:
    l.append(i*2)
l = tuple(l)
l

(2, 4, 6, 8)

37. Create a tuple of random numbers.

In [17]:
import random

t = tuple(random.randint(1,30) for x in range(10))
t

(17, 28, 19, 28, 12, 29, 15, 6, 4, 2)

38. Check if a tuple is sorted.

In [22]:
t = tuple(random.randint(1,30) for x in range(10))
print(t)

flag = True

for i in range(len(t)-1):
    if t[i]> t[i+1]:
        flag = False

if flag:
    print('Sorted')
else:
    print('Not Sorted')

(10, 29, 6, 19, 30, 10, 16, 23, 29, 7)
Not Sorted

40. Rotate a tuple to the right by `n` positions.

In [24]:
t = (1,2,3,4,5,6,7,8)
n = 3
t1 = tuple(list(t[3:] + t[:3]))
t1

(4, 5, 6, 7, 8, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [120]:
t = []

for i in range(6):
    if i == 0 or i==1:
        t.append(i)
    else:
        t.append(t[i-1]+t[i-2])
        
t = tuple(t)
t

(0, 1, 1, 2, 3, 5)

42. Create a tuple from user input.

In [28]:
n = int(input('Enter size of tuple: '))

t = []

for i in range(n):
    t.append(int(input('Enter thr Element for tuple: ')))
    
t = tuple(t)
t

Enter size of tuple:  4
Enter thr Element for tuple:  1
Enter thr Element for tuple:  2
Enter thr Element for tuple:  3
Enter thr Element for tuple:  4

(1, 2, 3, 4)

43. Swap two elements in a tuple.

In [29]:
t = (1,2)
t = list(t)
t[0],t[1] = t[1], t[0]

t = tuple(t)
t

(2, 1)

44. Reverse the elements of a tuple.

In [30]:
t = (1,2)
t = list(t)
t[0],t[1] = t[1], t[0]

t = tuple(t)
t

(2, 1)

45. Create a tuple of the first `n` powers of 2.

In [31]:
n = 8
t = tuple(2*i for i in range(n))
t

(0, 2, 4, 6, 8, 10, 12, 14)

46. Find the longest string in a tuple of strings.

In [32]:
t = ('apple', 'banana', 'watermelon', 'orange')

print(max(t))

watermelon

47. Find the shortest string in a tuple of strings.

In [33]:
t = ('apple', 'banana', 'watermelon', 'orange')

print(min(t))

apple

48. Create a tuple of the first `n` triangular numbers.

In [34]:
n =5
l =[]
for i in range(1, n + 1):
    l.append( i*(i+1)//2)
    
l = tuple(l)
l

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [35]:
test_list = (9, 4, 5, 8, 10)
sub_list = (10, 5, 4)
flag=0
if all(x in test_list for x in sub_list):
    flag=1
if flag:
    print("Yes list contains another list as a subsequence")
else:
    print("No list does not contain another list as a subsequence")

Yes list contains another list as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
t = []
n = 10
for i in range(n):
    if i%2==0:
        t.append(0)
    else:
        t.append(1)

t = tu

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [1]:
s = {x for x in range(1,6)}
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [4]:
s = {1,2,3, 4}
print(s)

s.add(5)
s

{1, 2, 3, 4}

{1, 2, 3, 4, 5}

3. Remove an element from a set.

In [9]:
s = {1,2,3, 4, 5}
print(s)

s.pop()
s

{1, 2, 3, 4, 5}

{2, 3, 4, 5}

4. Check if an element exists in a set.

In [10]:
s = {1,2,3,4,5}

if 5 in s:
    print('Yes')
else:
    print('No')

Yes

5. Find the length of a set without using the `len()` function.

In [13]:
s = {1,2,3,4,5}
c = 0

for i in s:
    c+=1
print('Len: ',c)

Len:  5

6. Clear all elements from a set.

In [16]:
s = {1,2,3,4,5}
print(s)
print(s.clear())

{1, 2, 3, 4, 5}
None

7. Create a set of even numbers from 1 to 10.

In [20]:
s = {x for x in range(1, 11) if x%2==0}
s

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [21]:
s = {x for x in range(1, 11) if x%2!=0}
s

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [24]:
import random

s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)
s1.union(s2)

{13, 14, 17, 28, 29, 30} {2, 3, 11, 12, 16, 19}

{2, 3, 11, 12, 13, 14, 16, 17, 19, 28, 29, 30}

10. Find the intersection of two sets.

In [26]:
s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)

s1.intersection(s2)

{2, 4, 12, 14, 17} {7, 12, 19, 26, 27, 28}

{12}

11. Find the difference between two sets.

In [29]:
s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)

s1.difference(s2)

{1, 7, 11, 16, 17, 30} {1, 2, 5, 13, 16, 26}

{7, 11, 17, 30}

12. Check if a set is a subset of another set.

In [31]:
s = {1,2,3,4,5,6,7,8}
s1 = {1,2,3,4}

s1.issubset(s)

True

13. Check if a set is a superset of another set.

In [32]:
s = {1,2,3,4,5,6,7,8}
s1 = {1,2,3,4}

s.issuperset(s1)

True

14. Create a set from a list.

In [33]:
l = [1,2,3,4]
s = set(l)
s

{1, 2, 3, 4}

15. Convert a set to a list.

In [34]:
s = {1,2,3}
l = list(s)
l

[1, 2, 3]

16. Remove a random element from a set.

In [38]:
s = {1,2,3,4,5,6,7,8}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8}

17. Pop an element from a set.

In [39]:
s = {1,2,3,4,5,6,7,8}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8}

18. Check if two sets have no elements in common.

In [46]:
s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)

s1.isdisjoint(s2)

{1, 11, 15, 18, 27} {9, 2, 20, 13}

True

19. Find the symmetric difference between two sets.

In [47]:
s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)

s1.symmetric_difference(s2)

{3, 7, 14, 16, 20} {9, 10, 14, 17, 29}

{3, 7, 9, 10, 16, 17, 20, 29}

20. Update a set with elements from another set.

In [48]:
s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)

s1.update(s2)
s1

{2, 5, 7, 8, 18, 22} {17, 18, 2, 15}

{2, 5, 7, 8, 15, 17, 18, 22}

21. Create a set of the first 5 prime numbers.

In [69]:
s = set()
 
for i in range(1,50):
    if len(s)>=5:
        break
    flag=True
    if i==1:
        s.add(i)
        flag=False
    
    else:
        for x in range(2, i//2+1):
            if i%x == 0:
                flag=False
                break
    
    if flag:
        s.add(i)

s

{1, 2, 3, 5, 7}

22. Check if two sets are identical.

In [70]:
s1 = {1,2,3,4}
s2 = {1,2,3,4}

s1 == s2

True

23. Create a frozen set.

In [72]:
s = frozenset({1,2,3,4,5})
type(s)

frozenset

24. Check if a set is disjoint with another set.

In [73]:
s1 = {1,2,3,4}
s2 = {1,2,3,4}
s1.isdisjoint(s2)

False

25. Create a set of squares of numbers from 1 to 5.

In [75]:
s = {x**2 for x in range(1,6)}
s

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [77]:
s = {1,2,3,4,5,6,7,8,9}
print(s)
s1 = {x for x in s if x%2!=0}
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [80]:
s = {1,2,3,4,5,6,7,8,9}
s = {x*2 for x in s}
s

{2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [84]:
s = {random.randrange(1,20) for x in range(5)}
s

{1, 6, 9, 12, 18}

29. Check if a set is empty.

In [88]:
s = {1,2,3,4}

print('Not Empty: ',bool(s))

Not Empty:  True

30. Create a nested set (hint: use frozenset).

In [94]:
s= frozenset([12, frozenset([1,2]),frozenset([3,4]),5,6])
s

frozenset({12, 5, 6, frozenset({1, 2}), frozenset({3, 4})})

31. Remove an element from a set using the discard method.

In [96]:
s= {1,2,3,4}
s.discard(4)
s

{1, 2, 3}

32. Compare two sets.

In [97]:
s = {1,2,3}
s1 = {2,3}
s>s1

True

33. Create a set from a string.

In [102]:
st = "Hello World"
s1 = set(st)
s2 = set(st.split())
print(s2,s1)

{'World', 'Hello'} {'r', 'e', ' ', 'd', 'o', 'W', 'H', 'l'}

34. Convert a set of strings to a set of integers.

In [106]:
s = {'1','2', '3', '4'}

s = set(map(int , s))
s

{1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [107]:
s = {1, 2, 3, 4}

s=set(map(str, s))
s

{'1', '2', '3', '4'}

36. Create a set from a tuple.

In [108]:
t = (1,2,3)
s = set(t)
s

{1, 2, 3}

37. Convert a set to a tuple.

In [110]:
s = {1,2,3}
t = tuple(s)
t

(1, 2, 3)

38. Find the maximum value in a set.

In [111]:
s = {1,2,3}
max(s)

3

39. Find the minimum value in a set.

In [112]:
s = {1,2,3}
min(s)

1

40. Create a set from user input.

In [114]:
n = int(input('Enter size of set: '))
s = set()
for i in range(n):
    s.add(int(input('Enter element: ')))
print('Set: ', s)

Enter size of set:  4
Enter element:  2
Enter element:  3
Enter element:  4
Enter element:  5

Set:  {2, 3, 4, 5}

41. Check if the intersection of two sets is empty.

In [117]:
s = {1,2,3,4}
s1 = {5,6,7,8}

n = s.intersection(s1)
bool(n)

False

42. Create a set of the first 5 Fibonacci numbers.

In [121]:
t = []

for i in range(6):
    if i == 0 or i==1:
        t.append(i)
    else:
        t.append(t[i-1]+t[i-2])
        
t = set(t)
t

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [123]:
l = [1,2,3,3,3,4,5,5,6,33,4,2,3,33,4,4,5,7,6,56,5,4,4,3,32,45,6,6]

l = list(set(l))
l

[32, 1, 2, 3, 4, 5, 6, 33, 7, 45, 56]

44. Check if two sets have the same elements, regardless of their count.

In [124]:
s1 = {random.randint(1,30) for x in range(6)}
s2 = {random.randint(1,30) for x in range(6)}
print(s1,s2)

same_elements = s1.intersection(s2)

same_elements

{6, 8, 15, 21, 23, 26} {3, 6, 8, 11, 13, 26}

{6, 8, 26}

45. Create a set of the first `n` powers of 2.

In [125]:
n = 9
s = {2**i for i in range(n)}
s

{1, 2, 4, 8, 16, 32, 64, 128, 256}

46. Find the common elements between a set and a list.

In [126]:
s = {1,2,3,4}
l = [1,3,4,5]

for i in s:
    if i in l:
        print(i)

1
3
4

47. Create a set of the first `n` triangular numbers.

In [127]:
n =5
l =[]
for i in range(1, n + 1):
    l.append( i*(i+1)//2)
    
l = set(l)
l

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [129]:
s = {1,2,3,4,5,6,7,8,9}
s1 = {7,8,9}

s1.issubset(s)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [130]:
s = set()

for i in range(10):
    if i%2==0:
        s.add(1)
    else:
        s.add(0)
s

{0, 1}

50. Merge multiple sets into one.

In [133]:
s1 = {1,2}
s2 = {3,4}
s3 = {5,6}
s4 = {7,8}

s1.update(s2,s3,s4)
s1

{1, 2, 3, 4, 5, 6, 7, 8}